<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.cyanogenmod.screencast"
          android:versionCode="1003"
          android:versionName="1.0.0.3">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT" />

    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name">
        <service android:name=".ScreencastService"
                 android:permission="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT"
                 android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="org.cyanogenmod.server.display.SCAN" />
            </intent-filter>
        </service>
        <activity
                android:theme="@android:style/Theme.Material.Dialog.NoActionBar"
                android:name=".MainActivity"
                android:launchMode="singleTask"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name=".ScreencastStartReceiver" android:permission="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT">
            <intent-filter>
                <action android:name="org.cyanogenmod.ACTION_START_SCREENCAST" />
                <action android:name="com.cyanogenmod.ACTION_START_SCREENCAST" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ScreencastControlReceiver">
            <intent-filter>
                <action android:name="org.cyanogenmod.ACTION_STOP_SCREENCAST"/>
                <action android:name="org.cyanogenmod.SHOW_TOUCHES"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
